@import "@/styles/modules/variables.module.scss";

.section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: $spacing-md;
}

.link {
  text-decoration: none;
}
