@import "@/styles/modules/variables.module.scss";

.sidebar {
  background: $primary-color;
  color: $secondary-color;
  overflow: hidden;
  border-right: 1px solid $secondary-color;

  & a {
    text-decoration: none;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: $spacing-none;
    margin: $spacing-none;
  }
}
