@import "@/styles/modules/variables.module.scss";
@import "@/styles/modules/mixins.module.scss";

.button {
  background: transparent;
  border: none;
  color: $secondary-color;
  cursor: pointer;
  &:hover {
    transition: 0.2s;
    color: $accent-color;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}
