@import "@/styles/modules/variables.module.scss";
@import "@/styles/modules/mixins.module.scss";

.header {
  @include row;
  justify-content: space-between;
  padding: $spacing-sm $spacing-xl;
  border-bottom: 1px solid $secondary-color;
}